.content {
    position: absolute;
    top: 70px;        /* altura da topo-geral */
    left: 260px;      /* largura da sidebar */
    right: 0;
    bottom: 0;
    padding: 16px;
    overflow: auto;
    background:white;
}

.bg-fr{
    background:#234D9D;
}

.text-fr{
  color:#234D9D;
}

.usuario .us{
  margin:5px;
}

.titleSistema{
  font-size:13px;
}

.brs{
    margin:5px;
}

.topo-geral {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px; /* mesmo do topo branco */
    z-index: 1030;
}

.topo-sidebar {
    width: 260px; /* mesma largura da sidebar */
    height: 100%;
}

.topo-nav {
    flex: 1;
    background-color: #234D9D;
    height: 100%;
}


.sidebar {
    width: 260px;
    background-color: #234D9D;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1020; /* menor que modal (1055) */
    margin-top:60px;
}

.sidebar .nav-link {
    color: #fff;
    padding: 12px 20px;
    transition: all .2s ease-in-out;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #fff;
    color: #000;
}